<% provide(:title, 'All areas') %>
<h1>所有模块</h1>

<div class="row">
<div class="span6 offset3">

     <section>
      <%= render 'shared/area_form' %>
     </section>


</div>
</div>



<ul class="users">
<%= render 'shared/area_new'%>
</ul>

