
<% provide(:title, @area.name) %>
      <h1>
        <%= @area.name %>
        <%=render @area %>
      </h1>
<h1>新建案例</h1>
<!--%= render @area.testpoints%-->
<%= render "testpoints/feed_testpoint"%>   
<%= render "testpoints/form"%>
