
<% provide(:title, @area.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @area.name %>
        <%=render @area %>
      </h1>
    </section>
  </aside>
</div>
