
<% provide(:title, @area.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @area.name %>
        <%=render @area %>
       <%= link_to "新建案例",new_testpoint_path%>
      </h1>
    </section>
  </aside>
</div>
